
main{
    border: 1px solid blue;
    max-height:  

}
footer{
    border: 1px solid green;
    height: 443px;
}
.ptop{
    background-color: e;
   position:static;
    margin-top: 50px;
    
   
}
.a_row{

    background-color: white;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    text-align: center;

    
   

}
.c_png{
    text-align: center;
    justify-content: center;
}
.m_png{
    max-height: 90px;
    min-height: 40px;
    margin-top: 20px;
}
h5,p{
    font-size:small;
}
.bd{
    border: 1px solid red;
}
.heading{
    
}
.rounded{
    max-height:100px; 
}
.card-img-top{
    max-height: 50px;
    max-width: 50px;
}
.product{
    max-height: 100px;
}

H1{
    font-size: small;
}
@media (max-width: 570px){
.h1, h1 
    font-size: 1.5rem;
}