
main{
    border: 1px solid blue;
    margin-top: 50px;
   
}
footer{
    border: 1px solid green;
    height: 443px;
}
.dashb{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: right;
    
    background-color: white;
}
.wel{
    margin-right: 350px;
    margin-top: 27px;
    font-weight: bold;
    color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    
}
.product{
    height: 150px;
    margin-top: 10px;
}



.fs-3 {
    font-size: calc(0.7rem + .6vw)!important;
}
.col-3 {
    flex: 0 0 auto;
    width: 24%;
    cursor: pointer;
}

.fori{
    height: 100px;
    
}
.col-4 {
    flex: 0 0 auto;
    width: 32.33333333%;
}
.col{
    height: 200px;
}
.fourhead{
    font-size: 0.6rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.fourp{
    font-size: 0.4rem;
}





--------------------
product
body{
    width: 100%;
    font-family: sans-serif;
}
.product-container{
    width: 100%;
    height: 600px;
    display: flex;
   
   
}
.display{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
  
}
.productitem{
    width: 50px;
    margin-top: 50px;
 
}
.simg{
    height: 70px;
    opacity: 0.5;
    margin: 20px 0px;
}
.simg:hover{
    opacity: 2;
    height: 90px;
}
.box{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.produkt{
    height: 500px;
   
  
}
#bimg{
    height: 500px;
}
.textdt{
    margin-left: 200px;
    font-family: sans-serif;
}
.brand{
    background-color: green;
    color: white;
    width: fit-content;

}
.brandname{
    margin: 5px;
    font-size: 0.9rem;
}
.ram{
    width: fit-content;
}
.rom{
    font-size: 2rem;
}
.reviwu{
    background-color: green;
    color: white;
    width: fit-content;
    padding: 2px 2px;
}
#qvalue{
    width: 30px;
    height: 30px;
}
button{
    background-color: rgb(247, 182, 6);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px ;

}
button:hover{
    background-color: white;
    color:rgb(247, 182, 6) ;
}
.product-2{
    margin-top: 50px;
}
.citem{
    height: 400px;
}
.ppt{
   max-height: 200px;
   max-width: 100%;
 
}